.container{
  padding: 5rem 0;
  position: relative;

  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, var(--purple-500), var(--gray-700)) no-repeat;
    background-size: 100% 20rem;
    z-index: -1;
  }
}

.calendar__heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90vw;
  margin-inline: auto;
  max-width: 62.5em; // 1000px

  h1{
    font-size: var(--fs-700);
    color: var(--gray-300);
  }

  strong{
    font-size: var(--fs-500);
    color: var(--gray-500);
  }

  span{
    font-size: var(--fs-400);
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    width: 95vw;
  }
}
